<!doctype html>
<html lang="en">
  <head prefix="og: http://ogp.me/ns#">
    <title>SCVO Widgets</title>
  </head>
  <body>
    <script type="text/javascript" src="/widget.js" data-url="/widgets/volunteer-opportunities.html"></script>
  </body>
</html>