@import './widget-loading.scss';

.scvo-widget {
  $unit:1rem;

  &.scvo-widget-loading {
    pointer-events: none;
    opacity: 0.7;
  }

  @import url('https://fonts.googleapis.com/icon?family=Material+Icons');
  @import '~../node_modules/material-design-lite/dist/material.blue_grey-blue.min';
  @import "~../node_modules/leaflet/dist/leaflet.css";
  @import url("../node_modules/leaflet.markercluster/dist/MarkerCluster.Default.css");
  @import url("../node_modules/leaflet.markercluster/dist/MarkerCluster.css");

  .multi-select .mdl-menu {
    overflow: auto;
    height: 200px !important;
    padding: 0 !important;
  }

  .multi-select .mdl-list__item {
    padding: 0.5rem;
    letter-spacing: initial;
  }

  .multi-select .mdl-list__item:hover {
    background-color: #eaeaea;
  }

  .full-width {
    width: 100%;
  }

  .mdl-button {
    font-weight: 600;
    text-transform: none;
  }

  .mdl-slider {
    width: 100%;
    margin: 0;
  }

  .mdl-slider__background-flex {
    width: 100%;
    margin: 0;
  }

  .mdl-tabs__tab-bar {
    justify-content: left;
  }

  .mdl-njs-tabs a.is-active {
    border-bottom: 2px solid #000000;
  }

  .mdl-badge[data-badge="0"] {
    display: none;
  }

  .mdl-badge.rubberBand::after {
    -webkit-transform-origin: center bottom;
        -ms-transform-origin: center bottom;
            transform-origin: center bottom;
    -webkit-animation-duration: 0.5s;
            animation-duration: 0.5s;
    -webkit-animation-fill-mode: both;
            animation-fill-mode: both;
    -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
    -webkit-animation-name: rubberBand;
            animation-name: rubberBand;
  }

  @keyframes rubberBand {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }

    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
              transform: scale3d(1.25, 0.75, 1);
    }

    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
              transform: scale3d(0.75, 1.25, 1);
    }

    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
              transform: scale3d(1.15, 0.85, 1);
    }

    65% {
      -webkit-transform: scale3d(.95, 1.05, 1);
              transform: scale3d(.95, 1.05, 1);
    }

    75% {
      -webkit-transform: scale3d(1.05, .95, 1);
              transform: scale3d(1.05, .95, 1);
    }

    100% {
      -webkit-transform: scale3d(1, 1, 1);
              transform: scale3d(1, 1, 1);
    }
  }

  .typeahead-lock {
    position: absolute;
    left: 0;
    z-index: 100;
    display: none;
  }

  .typeahead-locked {
    .typeahead-lock {
      display: block;
    }
    input {
      pointer-events: none;
      padding-left: 40px;
      box-sizing: border-box;
      opacity: 0.5;
    }
    .tt-menu {
      display: none !important;
    }
  }

  .twitter-typeahead {
    width: 100%;

    .tt-menu {
      padding: 0.5rem 0;
      background-color: #ffffff;
      width: 100%;
      box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 1px 5px 0 rgba(0, 0, 0, 0.12);
      .tt-dataset {
        h3 {
          font-size: 1rem;
          line-height: 1rem;
          font-weight: bold;
          margin: 0;
          padding: 0.5rem;
        }
        .tt-suggestion {
          padding: 0.5rem;
        }
        .tt-cursor {
          background-color: #eaeaea;
        }
      }
    }
  }


  //Utility classes
  .text-left {
    text-align: left;
  }

  .text-right {
    text-align: right;
  }

  .text-centre {
    text-align: center;
  }

  .text-justify {
    text-align: justify;
  }

  .pull-right {
    float: right;
  }

  .pull-left {
    float: left;
  }

  .pull-centre {
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .clearfix::after {
    content: "";
    clear: both;
    display: table;
  }

  .align-centre {
    display: flex;
    justify-content: center !important;
    align-items: center;
  }

  .v-padding {
    padding-top: $unit/2 !important;
    padding-bottom: $unit/2 !important;
  }

  .v-padding-full {
    padding-top: $unit !important;
    padding-bottom: $unit !important;
  }

  .h-padding {
    padding-left: $unit/2 !important;
    padding-right: $unit/2 !important;
  }

  .h-padding-full {
    padding-left: $unit !important;
    padding-right: $unit !important;
  }

  .x-padding {
    padding: $unit/2 !important;
  }

  .x-padding-full {
    padding: $unit !important;
  }

  .t-padding {
    padding-top: $unit/2 !important;
  }

  .b-padding {
    padding-bottom: $unit/2 !important;
  }

  .l-padding {
    padding-left: $unit/2 !important;
  }

  .r-padding {
    padding-right: $unit/2 !important;
  }

  .t-padding-full {
    padding-top: $unit !important;
  }

  .b-padding-full {
    padding-bottom: $unit !important;
  }

  .l-padding-full {
    padding-left: $unit !important;
  }

  .r-padding-full {
    padding-right: $unit !important;
  }

  .v-margin {
    margin-top: $unit/2 !important;
    margin-bottom: $unit/2 !important;
  }

  .v-margin-full {
    margin-top: $unit !important;
    margin-bottom: $unit !important;
  }

  .v-margin-full-bottom {
    margin-bottom: $unit !important;
  }

  .v-margin-none {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
  }

  .h-margin {
    margin-left: $unit/2 !important;
    margin-right: $unit/2 !important;
  }

  .h-margin-full {
    margin-left: $unit !important;
    margin-right: $unit !important;
  }

  .t-margin {
    margin-top: $unit/2 !important;
  }

  .b-margin {
    margin-bottom: $unit/2 !important;
  }

  .l-margin {
    margin-left: $unit/2 !important;
  }

  .r-margin {
    margin-right: $unit/2 !important;
  }

  .t-margin-full {
    margin-top: $unit !important;
  }

  .b-margin-full {
    margin-bottom: $unit !important;
  }

  .l-margin-full {
    margin-left: $unit !important;
  }

  .r-margin-full {
    margin-right: $unit !important;
  }

  .x-margin {
    margin: $unit/2 !important;
  }

  .x-margin-full {
    margin: $unit !important;
  }

  .border {
    border-style: solid;
    border-width: 1px;
  }

  .t-border {
    border-top-style: solid;
    border-top-width: 1px;
  }

  .l-border {
    border-left-style: solid;
    border-left-width: 1px;
  }

  .b-border {
    border-bottom-style: solid;
    border-bottom-width: 1px;
  }

  .r-border {
    border-right-style: solid;
    border-right-width: 1px;
  }

  .rounded {
    border-radius: 4px;
  }

  .tl-rounded {
    border-top-left-radius: 4px;
  }

  .tr-rounded {
    border-top-right-radius: 4px;
  }

  .bl-rounded {
    border-bottom-left-radius: 4px;
  }

  .br-rounded {
    border-bottom-right-radius: 4px;
  }

  .t-rounded {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
  }

  .l-rounded {
    border-top-left-radius: 4px;
    border-bottom-left-radius: 4px;
  }

  .b-rounded {
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .r-rounded {
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
  }

  .rounded-full {
    border-radius: 16px;
  }

  .tl-rounded-full {
    border-top-left-radius: 16px;
  }

  .tr-rounded-full {
    border-top-right-radius: 16px;
  }

  .bl-rounded-full {
    border-bottom-left-radius: 16px;
  }

  .br-rounded-full {
    border-bottom-right-radius: 16px;
  }

  .t-rounded-full {
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
  }

  .l-rounded-full {
    border-top-left-radius: 16px;
    border-bottom-left-radius: 16px;
  }

  .b-rounded-full {
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
  }

  .r-rounded-full {
    border-top-right-radius: 16px;
    border-bottom-right-radius: 16px;
  }
}